.phandau{color:tomato;background-color:black;text-align:center;padding:20px 15px}
.thucdon{color:black;background-color:white;padding:20px 15px}
.thucdon a{text-aligh:center;display:block;color:black;background-color:white}
.thucdon a:hover{color:white;background-color:black}
.noidung{color:purple;background-color:yellow}
