.phandau{color:tomato;background-color:black;text-align:center;padding:20px}
.thucdon{;padding:}
.thucdon a{color:black;background-color:white;text-align:center}
.thucdon a:hover{color:white;background-color:black;text-align:center}
